<%= render "shared/header" %>

  <div class="main">
    <div class="inner">
      <div class="form-wrapper">
        <h2 class="page-heading">Shop情報編集</h2>
        <%= render partial: 'form', locals: { shop: @shop } %>
      </div>
    </div>
  </div>

<%= render "shared/footer" %>