<%= render "shared/header" %>
<h1>Shops#index</h1>

<%= link_to(new_shop_path, class: 'shop-btn') do %>
  <span class="shop-btn-text">投稿する</span>
  <%= image_tag '9898.png' , size: '185☓50' ,class: "shop-btn-icon" %>
<% end %>
<%= render "shared/footer" %>