<%= render "shared/second-header" %>

<div class="main">
  <div class="inner">
    <div class="form-wrapper">
      <h2 class="page-heading">新規Shop情報投稿</h2>

      <%= render partial: 'form', locals: { shop: @shop } %>

    </div>
  </div>
</div>
<%= render "shared/footer" %>