/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}


/* shop一覧画面 */

.main-content {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #111111;
}

.main-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.main-title {
  display: block;
  /* font-size: 6rem; */
  /* font-weight: bold; */
  /* font-family: 'Belgrano', serif; */
  /* color: #ffffff; */
  position: absolute;
  top: 20%;
  left: 15%;
}

/*タイトルアニメーション*/
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

h1 {
  font-size: calc(20px + 18vh);
  line-height: calc(20px + 20vh);
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

/* タイトルアニメーション */

.app-explain {
  display: block;
  position: absolute;
  top: 50%;
  left: 30%;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  background: -webkit-linear-gradient(to right, rgb(255, 186, 115), transparent);
  background: linear-gradient(to right, rgb(255, 186, 115), transparent);
  border-radius: 3px;
  line-height: 1.2;
  -webkit-box-reflect: below -10px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 10%,rgba(0, 0, 0, 0.6));
}

/* shop list表示 */

.shop-contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.shop-title {
  font-size: 5rem;
  font-family: 'Belgrano', serif;
  margin: 15px 0;
}

.shop-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  list-style: none;
}

.shop-lists>.list {
  width: 400px;
  margin: 25px 15px;
  padding: 0.5em 1.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  position: relative;
}

.shop-table {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.shop-lists>.list:before, .shop-lists>.list:after{
  content: '';
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;
}
.shop-lists>.list:before {left: 10px;}
.shop-lists>.list:after {right: 10px;}
.shop-lists>.list p {
  margin: 0; 
  padding: 0;
}

.shop-img-contents {
  position: relative;
}

.shop-img {
  width: 350px;
  height: 300px;
}

.shop-img:hover {
  opacity: 0.5;
}



/* shop投稿ボタン */

.shop-btn {
  width: 140px;
  background-color: #ff9933;
  text-align: center;
  border-radius: 30%;
  bottom: 32px;
  right: 32px;
  padding: 15px;
  position: fixed;
  text-decoration: none;
  border-bottom: 8px solid #b84c00;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.shop-btn-text {
  color: #ffffff;
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 5px;
}

.shop-btn-icon {
  width: 100%;
}

.shop-btn:hover {
  margin-top: 3px;
  color: #fff;
  background: #f56500;
  border-bottom: 3px solid #b84c00;
}
/* shop投稿ボタン */

.detail-th {
  text-align: end;
}

.detail-td {
  text-align: start;
}