.main {
  width: 100vw;
  height: 100vh;
  background-color: #cdcdc0;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cdcdc0;
}

.page-heading {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 3.5rem;
  margin: 40px 0;
}

.img-upload {
  padding: 0 auto;
}

.new-shops {
  width: 100%;
}

.shops-text {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ccc;
  resize: none;
  padding: 0 0 0 8px;
  height: 40px;
}

.shop-btn-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shop-new-btn {
  font-size: 30px;
  font-weight: bold;
  width: 70%;
  height: 60px;
  margin: 30px auto;
  background-color: #ff9933;
  border-radius: 10px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.back-btn {
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  width: 200px;
  margin: 0 auto;
  background-color: #d52f25;
  border-radius: 10px;
}

.select-box {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
}