.shop-show {
  display: flex;
  flex-wrap: wrap;
  background-color: #cdcdc0;
}

/* edit/destroy btn */
.btn-contents {
  flex-direction: column;
  width: 100vw;
  margin-bottom: 50px;
  padding-top: 50px;
}

.shop-edit-btn {
  width: 150px;
  margin: 50px 50px 50px 150px;
  padding: 10px 30px;
  font-size: 1.5rem;
  background-color: #eed13f;
  border-radius: 10px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Belgrano', serif;
}

.shop-edit-btn:hover {
  opacity: 0.5;
}

.shop-edit-btn:active {
  color: #111111;
  background-color: lightgreen;
}

.shop-destroy-btn {
  width: 100px;
  padding: 10px 30px;
  margin-left: 50px;
  font-size: 1.5rem;
  background-color: #00005d;
  border-radius: 10px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Belgrano', serif;
}

.shop-destroy-btn:hover {
  opacity: 0.5;
}

.shop-destroy-btn:active {
  color: red;
  background-color: lightpink;
}

.shop-img-content {
  width: 40vw;
  height: 50vh;
  background-color: #ffffff;
  margin: 0 0 30px 50px;
}

.shop-box-img {
  height: 100%;
  width: 40vw;
  padding: 30px;
}

/* テーブルcss */

.table-contents {
  height: 50vh;
  display: flex;
  align-items: center;
  padding-left: 50px;
  width: 55vw;
}

.detail-table {
  width: 50vw;
  border: 2px solid #111111;
}

.detail-shop {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  width: 10vw;
  text-align: center;
  border: 1px solid #111111;
  background-color: lightseagreen;
}

.detail-value {
  font-size: 2rem;
  width: 25vw;
  padding-left: 15px;
  border: 1px solid #111111;
  background-color: #ffffff;
}

/* テーブルcss */

.new-food-btn {
  width: 100vw;
  text-align: center;
  height: 100px;
  padding: 35px;
}

.new-food-btn:hover {
  opacity: 0.5;
}

.new-food-btn:active {
  color: orange;
}

.new-food {
  background-color: #b0941e;
  font-size: 2rem;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 25px;
  border-radius: 10px;
}

.new-food:active {
  color: orange;
  background-color: #ffffff;
}

.food-contents {
  background-color: #f6efdb;
}

.food-title-content {
  background-color: #ffffff;
  width: 100vw;
  font-size: 3rem;
  color: #111111;
  font-family: 'Belgrano', serif;
  text-align: center;
  border-bottom: 5px solid #111111;
}

.food-title {
  padding: 0 0;
}

.food-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  list-style: none;
}

.food-lists>.list {
  width: 400px;
  margin: 25px 15px;
  padding: 0.5em 1.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  position: relative;
}

.food-lists>.list:before, .food-lists>.list:after{
  content: '';
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;
}
.food-lists>.list:before {left: 10px;}
.food-lists>.list:after {right: 10px;}
.food-lists>.list p {
  margin: 0; 
  padding: 0;
}

.food-img {
  width: 350px;
  height: 300px;
}

.food-img:hover {
  opacity: 0.5;
}

.list {
text-align: center;
}

.food-info {
  font-weight: bold;
  font-size: 16px;
}

.food-name {
  font-weight: bold;
  font-size: 16px;
}