.top-page-header {
  width: 100vw;
  height: 100px;
  padding: 3vh 5vw;
  display: flex;
  justify-content: space-between;
  background-color: #778287;
}

.header-title {
  padding: 1px 0;
}

.title {
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Belgrano', serif;
}

.title:hover {
  color: orange;
}

.nav {
  font-size: 25px;
  padding: 5px 0;
  display: flex;
  text-align: center;
}

.lists-right {
  display: flex;
  align-items: center;
  font-family: 'Belgrano', serif;
  list-style: none;
}

.user-nickname:hover {
  color: orange;
}

.logout:hover {
  color: orange;
}

.login:hover {
  color: orange;
}

.sign-up:hover {
  color: orange;
}

.user-nickname {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  margin-right: 50px;
}

.logout {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.login {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  margin-right: 50px;
}

.sign-up {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}