.register-edit-btn {
  padding: 10px 30px;
  font-size: 1.5rem;
  background-color: #eed13f;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Belgrano', serif;
  cursor: pointer;
}

.register-btn-edit {
  text-align: center;
  margin-top: 20px;
}

.user-destroy-btn {
  background-color: #cdcdc0;
  width: 100vw;
  text-align: center;
  padding-bottom: 50px;
}

.user-destroy {
  padding: 10px 30px;
  font-size: 1.5rem;
  background-color: #00005d;
  border-radius: 10px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Belgrano', serif;
  cursor: pointer;
}