.registration-main {
  display: flex;
  justify-content: center;
  /* height: calc(100vh - 150px); */
  width: 100vw;
  min-width: 900px;
  background-color: #cdcdc0;
  padding: 50px;
}

.form-wrap {
  height: 100%;
  width: 80%;
  background-color: #cdcdc0;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-header-text {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 20px;
}

.form-group {
  margin: 10px auto;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input-default {
  height: 48px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 20px;
}

.form-text-wrap {
  width: 100%;
  margin-bottom: 5px;
}

.form-text {
  font-weight: bold;
}

.indispensable {
  color: #ffffff;
  background-color: red;
  font-size: 13px;
  font-weight: bold;
  padding: 3px;
  margin-left: 5px;
  border-radius: 5px;
}

.register-btn {
  height: 50px;
  width: 20%;
  margin: 0 auto;  
}

.register-red-btn {
  font-size: 30px;
  height: 100%;
  width: 100%;
  margin-top: 30px;
  background-color: #f69454;
  border-radius: 5px;
  color: #ffffff;
  border: none;
  font-weight: bold;
  font-family: 'Belgrano', serif;
  cursor: pointer;
}

/* エラーメッセージ */
.login-flash-message {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: red;
  list-style: none;
}

.error-message {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: red;
  list-style: none;
}